@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,600;0,700;1,700&display=swap");
body {
    font-family: "Montserrat";
    font-weight: 400;
    background-color: #fafafa;

}
.our-products-h2{
    color:black;
    text-align: center;
    background-color: #fafafa;
}
.our-products-container{
    background-color: #FAFAFA;
    display: flex;
    justify-content: center;
}
.our-products-choc {
    width: 335px;
    height: 364px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FFF;
}
.our-products-choc2{
    display: none;
}
.our-products-choc-img{
    width: 230px;
    height: 201px;
    margin-bottom:8px;
}
.our-products-text-container{
    text-align: center;
}
.our-products-button{
    border-radius: 100px;
    border: 1px solid rgba(17, 17, 17, 0.10);
    background: #FAFAFA;
    padding: 8px 20px;
    margin-top:18px;
    font-size: 14px;
    font-weight: 600;
}
.our-products-choc-text{
    color:black;
    margin:0 auto;
}
.our-products-choc-text2{
    color:black;
    margin:0 auto;
}
.our-products-choc-div{
    width: 230px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.our-product-svg-slider{
    display: none;
}
.our-products-choc-div2{
    display: none;
}
.our-products-choc-svg-icon{
    fill: rgba(17, 17, 17, 0.10);
}
.our-products-choc3{
    display: none;
}
.our-products-choc4{
    display: none;
}
.our-products-h2-span{
    color: #FD9222;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 24px;
        letter-spacing: -0.6px;
        text-transform: uppercase;
        margin-left:5px;
}
.our-products-h2{
    font-weight: 600;
    text-transform: uppercase;
    font-size: 20px;
}
.our-products-choc-text{
    font-size:18px;
    font-weight: 600;
    text-transform: uppercase;
}
.our-products-choc-text2{
    color: rgba(17, 17, 17, 0.70);
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: -0.24px;
        text-transform: uppercase;
}


.our-products-slider-img{
    color:aliceblue;
}
.our-products-slider {
    display: none;
    margin: 20px auto 32px;
    justify-content: center;
    gap: 13px;
    list-style: none;
}

.our-products-slider-item-link {
    cursor: pointer;
    height: 13px;
    width: 13px;
    background-color: #1111111a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        width 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.our-products-slider-item-link:hover,
.our-products-slider-itemplink:focus {
    background-color: #FD9222;
    width: 28px;
    border-radius: 100px;
}


.top-sellers-img2{
    display:none
}
.top-sellers-img-div {
    display: none;
    gap: 16px;
}

.top-sellers{
    background-color: #FAFAFA;
}
.top-sellers-text{
    width: 335px;
    display: flex;
    text-align: left;
}
.top-sellers-text2{
    display: none;
}
.top-sellers-img{
    border-radius: 15px;
    
}
.top-sellers{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top-sellers-button{
border-radius: 100px;
    background: #FD9222;
    padding:12px 28px;
    border:none;
    color:#FFF;
    margin:0 auto;
    display: flex;
    margin-top:20px;

}
.top-sellers-button:hover{
    background:#fcf1E0;
    color:#FD9222;
}
.top-sellers-h2{
    text-transform: uppercase;
}
.top-sellers-h2-span{
    color:#FD9222;
    margin-right:5px;
}

@media screen and (max-width:768px){
    
}

/* TABLET  */

@media screen and (min-width:768px){
    .our-products-choc-div2{
        display: flex;
    }
    .our-products-choc2{
        display: flex;
        border-radius: 15px;
            border: 1px solid rgba(17, 17, 17, 0.10);
            background: #FFF;
            width: 270px;
            height: 364px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    }
    .our-products-container{
        display: flex;
        gap:18px;
        justify-content: center;
    }
    .our-products-choc{
        width: 270px;
        
    }




    .top-sellers-text{
        display: none;
    }
    .top-sellers-text-div{
        display: flex;
            gap: 236px;
            text-align: left;
            width: 704px;
    }
    .top-sellers-img{
        width: 344px;
        height: 100%;
    }
    .top-sellers-button{
        width: 162px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
    }
    .top-sellers-text2{
        display: block;
        width: 306px;
    }
}
/* DESKTOP */
@media screen and (min-width:1200px){
    .our-products-choc3{
        display: flex;
            border-radius: 15px;
            border: 1px solid rgba(17, 17, 17, 0.10);
            background: #FFF;
            width: 270px;
            height: 364px;
            justify-content: center;
            align-items: center;
            flex-direction: column;
    }
    .our-products-choc-div3{
        display: block;
    }
    .our-products-container{
        display: flex;
        gap:18px;
        justify-content: center;
        margin-top:50px;
    }
    .top-sellers-text-div{
        display: flex;
            gap: 576px;
            text-align: left;
            width: 1136px;
    }
    .top-sellers-text2{
        display: block;
        width: 407px;
    }
    .top-sellers-hidden{
        display: flex;
        border-radius:15px;
    }
    .top-sellers-img{
        width: 368px;
    }
    .top-sellers-img2{
        display: block;
        border-radius: 15px;
        width: 368px;
    }
    .top-sellers-img-div{
        display: flex;
        gap:16px;
    }
}
